a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.color-red {
    color: #D2595D;
}

.color-white {
    color: #fff;
}

.color-light-gray {
    color: #AEAEAE;
}

.color-medium-gray {
    color: #767676;
}

@keyframes progressbar {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

button {
    margin: 0;
    padding: 0;
    outline: none;
    background: none;
    box-shadow: none;
    border: none;
}